/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* top players styles */

body {
  background-color: #f3f1ff;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container {
  width: 870px;
  padding: 33px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 22px;
}

.section-title {
  color: #562eff;
  font-size: 24px;
}
.top-players {
  margin-bottom: 30px;
}

.players {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
.player-name {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 16px;
}

/* -------------------------------
          Top Blog Styles
--------------------------------- */

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap
}

.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
}

.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}

.Blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.Blog-author a {
  font-size: 16px;
  text-decoration: none;
  color: #562eff;
}

/* -------------------------------
          Lates Course styles
--------------------------------- */
.courses {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 24px;
}


.course .course-banner img {
  width: 224px;
  height: 104px;
}

.course-info {
  display: flex ;
  align-items: center;
  justify-content: space-between;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled{
  color: #FFC014;
}
.fa-star.empty{
  color: #AEAEAE;
}

.course-duration {
  color: #FF4A60;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #FFE4E8;
}

/*----------------------------------
    responsive  media queries 
------------------------------------*/


/*    mobile devices    */
@media only screen and (max-width:688px) {
  .container {
    width: 100%;
  }

  .section-title{
    text-align: center;
  }

  .section-title.tow {
    text-align: start;
  }

  .section-title.three {
    text-align: start;
  }

  .players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
}

  .player, .blog{
    justify-content: center;
    flex-direction: column;
  }
}


/*    tablet devices     */

@media only screen and (min-width: 688px) and (max-width:992px) {
  .container {
    width:  100%;
  }

  .section-title {
    text-align: center;
  }

  .player {
    align-content: center;
    align-items: flex-end;
    justify-content: center;
  }

  .players, .courses {
    grid-template-columns: repeat(2, 1fr);
  }
}